*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* navbar Related Style*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;margin: 0 200px;
}
.nav-logo{
    color: #181818;
    font-size: 45px; 
    padding: 20px 0 0 0;
}
.r-color{
    color: #FD6E0A
}
.button-style{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border: 0;
}
nav>ul{
    display: flex;
    align-items: center;
    padding: 50px 0 0 0;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
}

/* Header Related Style */

.header{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left bottom;
    height: 760px;

}
.banner{
    padding: 73px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-picture{
    width: 500px;
    margin-bottom: 0;
}
.banner-greeting{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.banner-name{
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription{
    margin: 70px 0;
    width: 550px;
}

/* Main Section  style*/

main{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* About Section Style */

.about{
    padding: 77px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 120px 0;
}
.about-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: larger;
}
.about-info{
    text-align: center;   
}
.info-title{
    opacity: .4;
    margin-bottom: 20px;
}
.info-description{
    font-weight: 800;
}
/* what I Do Section Style */
#what-i-do-section{
    padding: 30px 30px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin: 50px 0px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.skills-container{
    display: flex;
    justify-content: space-around;
}
.skill{
    height: 280px;
    width: 200px;
    border: 1px solid #eae5e1;
    padding: 20px;
    box-shadow: 10px 10px 10px;
}
.skill-title{
    text-align: center;
    margin: 10px 0;
}
.skill-discription{
    text-align: center;
    margin: 10px 0;
    color: #757575;
}
/* Footer section Style */
footer{
   
    background-color: #1d1c1c;
    color: white;
}
.foot-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left-footer{
    width: 500px;
    justify-items: center;
    margin: auto;
}
.left-footer h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.left-footer p{
    
    margin-bottom: 40px;
}
.left-footer .logo{
    
    text-align: center;
}
.right-footer{
    width: 500px;
}
.right-footer h1{
    margin: 100px 0 30px 0;
    font-size: 40px;
}